# Local Netlify folder
.netlify
.env

# Зависимости
node_modules/

# Сборка
dist/

# Переменные окружения
.env
.env.local
.env.production

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Редакторы
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db